<%provide(:title,'about this site') %>
<h1>There is more opportunity here than in America</h1>
<p>
 When someone asks me to describe my interests in the internet, I say that we are living in the times resembled by the movie “Gangs of New York.” There is so much uncharted territory to be discovered online. I believe English is the language of commerce and Rails is the language of eCommerce. I feel like I am fresh off the boat to a country called ‘Internetland’ and I do not want to be bound to a translator. I need to learn the language fluently so that I can communicate my vision clearly.
</p>