<% provide(:title, 'Contact') %>
<%= link_to image_tag("faces.jpg", alt: "faces"),  :class => 'faces' %>
<h1>¡Hola! means &#060;p&#062;Hello!&#060;/p&#062; </h1>
<h2>Use tags to let the computer know when you start and stop a sentence.</h2>