<div class="center hero-unit">
  <h1>The internet is here to stay.</h1>

  <h2>
    If you want to do business in America, you need to speak English. <br>If you want to do business online, you need to speak
    <a href="http://railstutorial.org/">Ruby on Rails</a>.
  </h2>

  <%= link_to "Do not push!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>