<footer class="footer">
  <small>
    <a href="http://dave.woodalls.me">Dave Woodall's</a> attempt at the <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Another project", "http://hodkiewicz-emmerich8722.myshopify.com/" %></li>
      <li><a href="http://www.amb3r.com/">Buy T-shirts!</a></li>
    </ul>
  </nav>
</footer>


